<div class="ui fluid container" id="spacing">
  <div class="ui fluid container">
    <div class="ui secondary menu">
      <a class="item">
        <button class="ui blue button" [routerLink]="['/homeAdmin','newUserAdmin']">Nuevo Cliente</button>
      </a>
      <div class="right menu">
        <a class="item">
          <div class="ui search">
            <div class="ui icon input">
              <input class="prompt" type="text">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="ui fluid container segment" id="spacing">
    <div class="ui grid">
      <div class="row" [routerLink]="['/homeAdmin','newUserAdmin']">
        <div class="four wide column" align="center">
          <i class="massive user icon"></i>
        </div>
        <div class="eight wide column">
          <h1>Nombre de Usuario</h1>
          <p>Rol</p>
          <p>Nombre y Apellido</p>
          <p>C.I.</p>
        </div>
      </div>
    </div>
  </div>
</div>