<div class="ui fluid container" id="spacing" align="center">
  <div class="ui fluid container" align="right">
    <div class="ui search">
      <div class="ui icon input" id="wide">
        <input class="prompt" type="text">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>

  <div class="ui fluid container" id="spacing" style="width: 80%">
    <div class="ui grid">
      <div class="row" [routerLink]="['/homeAdmin','warehouseContent']">
        <div class="four wide column" align="center">
          <i class="massive bath icon"></i>
        </div>
        <div class="eight wide column" align="left">
          <h1>Nombre del Producto</h1>
          <p>Stock</p>
        </div>
        <div align="right" class="four wide column">
          <i class="huge question circle icon" id="content"></i>
        </div>
      </div>
    </div>
  </div>
</div>