<div class="ui fluid container" id="spacing">
  <div class="ui fluid container">
    <div class="ui secondary menu">
      <a class="item">
        <button class="ui blue button" [routerLink]="['/homeAdmin','newWarehouse']">Nueva Bodega</button>
      </a>
      <div class="right menu">
        <a class="item">
          <div class="ui search">
            <div class="ui icon input">
              <input class="prompt" type="text">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="ui fluid container segment" id="spacing">
    <div class="ui grid">
      <div class="row" [routerLink]="['/homeAdmin','warehouseContent']">
        <div class="four wide column" align="center">
          <i class="massive warehouse icon"></i>
        </div>
        <div class="eight wide column">
          <h1>Bodega 1</h1>
          <p>Direccion</p>
        </div>
        <div align="center" class="four wide column">
          <i class="huge question circle icon" id="content"></i>
        </div>
      </div>
    </div>
  </div>
</div>