<p>
  route-new-order works!
</p>
<div class="ui hidden divider"></div>

<div class="ui grid">
  <div class="row">
    <div class="one wide column">
    </div>
    <div class="six wide column" align="center">
      <div style="background-color: #886f68 ">
        <h1>Bodega:</h1>
      </div>
      <div style="background-color: #a49e8d ">
          <div class="six wide column">
            <p>Nombre del producto</p>
            <p>Distribuidor</p>
          </div>
          
      </div>
    </div>
    <div class="two wide column">
    </div>
    <div class="five wide column" align="center" style="background-color: aquamarine">
      <p>a</p>
    </div>
  </div>
</div>

<!-- <div class="ui fluid container segment" id="spacing">
  <div class="ui grid">
    <div class="row">
      <div class="one wide column">

      </div>
      <div class="four wide column" align="center">
        <h2>Pedido #ko992ks82</h2>
        <p>Fecha</p>
        <p>Precio</p>
      </div>
      <div class="seven wide column">

      </div>
      <div align="center" class="four wide column">
        <br>
        <i class="huge circle icon green" id="content"></i>
      </div>
    </div>
  </div>
</div> -->