<div class="ui hidden divider"></div>

<div class="ui grid">
  <div class="one wide column">

  </div>
  <div class="six wide column">
      <div class="ui vertical segment" style="background-color: #fcbf49">
          <div class="ui grid">
              <div class="six wide column" style="text-align: right">
                  <h2>Bodega:</h2>
              </div>
              <div class="nine wide column" style="text-align: left">
                  <h2>Nombre de bodega</h2>
              </div>
          </div>
      </div>
      <div class="ui vertical segment" style="background-color: #eae2b7;text-align: center">

          <div class="ui grid">
              <div class="three column row">
                  <div class="column">
                      <p>Nombre del producto</p>
                      <p>Distribuidor</p>
                  </div>
                  <div class="column">
                      <button class="ui compact icon button">
                          <i class="minus icon"></i>
                      </button>
                      <div class="ui label">
                          23
                      </div>
                      <button class="ui compact icon button">
                          <i class="plus icon"></i>
                      </button>
                  </div>
                  <div class="column">
                      <div class="ui label">
                          40$
                      </div>
                  </div>
              </div>
          </div>

          <div class="ui grid">
              <div class="three column row">
                  <div class="column" >
                      <p>Nombre del producto</p>
                      <p>Distribuidor</p>
                  </div>
                  <div class="column">
                      <button class="ui compact icon button">
                          <i class="minus icon"></i>
                      </button>
                      <div class="ui label">
                          23
                      </div>
                      <button class="ui compact icon button">
                          <i class="plus icon"></i>
                      </button>
                  </div>
                  <div class="column">
                      <div class="ui label">
                          40$
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="two wide column">

  </div>
  <div class="six wide column">
      <div class="ui vertical segment" style="background-color: #eae2b7;text-align: center">
          <div class="ui grid">
              <div class="three column row">
                  <div class="column">
                      <button class="ui compact icon button">
                          <i class="plus icon"></i>
                      </button>
                  </div>
                  <div class="column">
                      <img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/MQCY2?wid=2104&hei=2980&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1502831077669"
                          width="70" height="90">
                  </div>
                  <div class="column">
                      <p>Nombre del producto</p>
                      <p>Distribuidor</p>
                      <p>Precio</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="one wide column">

  </div>
</div>